:root {
    /* colors */
    --cream: #F1DED4;
    --red: #E92527;
    --orange: #F04F25;
    --light-orange: #F4A375;
    --light-brown: #C8894A;
    --mid-brown: #A0622A;
    --dark-brown: #6B3A1F;
    --ink: #1A0A00;


    /* fonts */
    --body-font: "vandertak-regular", sans-serif;
    --heading-font: "dirty-bakers-dozen", sans-serif;


    /* type scale */
    --body-copy: 1rem;
    --small-heading-copy: calc(var(--body-copy) * 1.25);
    --label-copy: calc(var(--body-copy) * 1.75);
    --heading-copy: calc(var(--body-copy) * 4);


    /* layout */
    --spacing-small: 1rem;
    --spacing-xs: calc(var(--spacing-small) * 0.5);
    /* --max-width: 90rem; */
    /* --padding: 8rem; */
    /* --container-width: 100%; */
    --court-lines: 0.2rem;
}

body {
    background-color: var(--cream);

    p {
        font-family: var(--body-font);
        color: var(--ink);
        font-size: var(--body-copy);
        text-align: center;
    }
}


/****************  NAVIGATION BAR  ****************/
nav{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--ink);
    padding-block: var(--spacing-small);
    padding-inline: calc(var(--spacing-small) * 2);
    border-block-end: solid var(--orange) var(--court-lines);
}


nav ul {
    display: flex;
    /* justify-content: center; */
    /* removing this justify content let me see my first button */
    gap: var(--spacing-small);
    /* from week 9 class site for overflow, since I didn't want to fit everything onto the screen, this allows for the scroll to happen on mobile */
    overflow-y: auto;
}

.button {
    font-family: var(--body-font);
    font-size: var(--small-heading-copy);
    color: var(--light-orange);
    padding-block: var(--spacing-xs);
    padding-inline: var(--spacing-small);

    &:hover {
        color: var(--cream);
    }
}

@media (width > 530px) {
    nav ul {
        justify-content: center;
        gap: calc(var(--spacing-small) * 2);
    }
}


header {
    padding-block: calc(var(--spacing-small) * 4);
    padding-inline: calc(var(--spacing-small) * 2);
    text-align: center;
    

}


h1 {
    font-family: var(--heading-font);
    font-size: calc(var(--heading-copy) * 0.6);
    color: var(--orange);
    text-align: center;
    line-height: 1;
    /* from MDN, adding background shadows to make it feel like a basketball / color.x.y */
    text-shadow: var(--dark-brown) 0.1rem 0.1rem, var(--red) 0.2rem 0.2rem;
}


#channel-blocks {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    /* grid-template-columns: 3fr 3fr 3fr; */
    padding: calc(var(--padding) * 1/2);
    gap: 2em;
    list-style: none;
}

#channel-blocks li {
    margin-block: var(--padding);
    /* border: solid var(--red); */
}


/* #channel-blocks link {
    width: calc(var(--container-width) * 40);
} */