:root {
    --cream: #F1DED4;
    --red: #E92527;
    --orange: #F04F25;
    --light-orange: #F4A375;

    --body-copy: 2rem;
    --body-font: "vandertak-regular", sans-serif;
    --heading-copy: calc(var(--body-copy) * 3);
    --heading-font: "dirty-bakers-dozen", sans-serif;

    --padding: 8rem;
    --container-width: 100%;
}

body {
    /* background-image: url("background.png");
    background-size: 100%; */
    background-color: var(--cream);

    p {
        font-family: var(--body-font);
        color: var(--light-orange);
        font-size: var(--body-copy);
        text-align: center;
    }
}

h1 {
    font-family: var(--heading-font);
    font-size: calc(var(--heading-copy) * 2);
    color: var(--orange);
    text-align: center;
}

/* .text {
    background-color: var(--orange);
    width: 57vw;
    margin-block-end: var(--padding);
    p{
        color: var(--cream); 
    }
} */

nav ul {
    font-family: var(--body-font);
    font-size: calc(var(--body-copy) * 0.60);
    color: var(--light-orange);
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    padding: calc(var(--padding) * 2);
    gap: 2em;
    list-style: none;
}


/* .img {
    width: 40%;
    display: block;
    margin: auto;
    padding-block-start: var(--padding);
} */

/* .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    width: var(--container-width);
    padding-block-start: var(--padding);
} */

/* .link iframe {
    width: 57vw;
    height: 55vh;
} */

