:root {
    --cream: #F1DED4;
    --red: #E92527;
    --orange: #F04F25;
    --light-orange: #F4A375;

    --body-copy: 2rem;
    --body-font: "vandertak-regular", sans-serif;
    --heading-copy: calc(var(--body-copy) * 3);
    --heading-font: "dirty-bakers-dozen", sans-serif;

    --padding: 8rem;
    --container-width: 100%;
}

body {
    background-color: var(--cream);

    p {
        font-family: var(--body-font);
        color: var(--light-orange);
        font-size: var(--body-copy);
        text-align: center;
    }
}

h1 {
    font-family: var(--heading-font);
    font-size: calc(var(--heading-copy) * 2);
    color: var(--orange);
    text-align: center;
}



nav ul {
    font-family: var(--body-font);
    font-size: calc(var(--body-copy) * 0.60);
    color: var(--light-orange);
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 4rem;
}

#channel-blocks {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    padding: calc(var(--padding) * 1/2);
    gap: 2em;
    list-style: none;
}

#channel-blocks li {
    margin-block: var(--padding);
    border: solid var(--red);
}


/* #channel-blocks link {
    width: calc(var(--container-width) * 40);
} */